<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> You have a new conversation, <%= @user.name %></h1>
    <p>
      Someone from the BootBook community has recently contacted you. <br>
    </p>
  </body>
</html>

