<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to boot@bootbook.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up via Github to bootbook.com. We look forward to having you as a productive member of this community.<br>
    </p>
  </body>
</html>
